<a href="https://colab.research.google.com/github/ajha6200/ajha6200/blob/main/Session_1_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Program"
"By" "Teknowell" "EduTech"
```
**Output**:
```
Data-Science-Program-started-By-Teknowell-EduTech
```

Concept- [Seperator and End]

In [ ]:
#Seperator
print("Data","Science","Program","By","Teknowell","EduTech",sep="-")
#End
print("Data-" "Science-" "Program",end="-")
print("By-" "Teknowell-" "EduTech")

Data-Science-Program-By-Teknowell-EduTech
Data-Science-Program-By-Teknowell-EduTech

### Q2:- Write a program that will convert celsius value to fahrenheit.

> $\Large Celcius = (Fahrenheit - 32)*\frac{5}{9}$

In [ ]:
a=int(input("Enter any num:"))
f=(a*9/5)+32
print("convert celcius to farenheit",f,"°")

Enter any num:56
convert celcius to farenheit 132.8 °

### Q3:- Take 2 numbers as input from the user. Write a program to swap the numbers without using any special python syntax.

In [ ]:
a=int(input("Enter the value for a:"))
b=int(input("Enter the value for b:"))
print("Before swapping a=",a,"b=",b)
temp=a
a=b
b=temp
print("After swapping a=",a,"b=",b)

Enter the value for a:4
Enter the value for b:5
Before swapping a= 4 b= 5
After swapping a= 5 b= 4

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

> $\large Distance = \sqrt{(x_1 - x_2)^2 + (y_1 - y_2)^2}$

In [ ]:
x1=int(input("enter value of x1:"))
x2=int(input("enter value of x2:"))
y1=int(input("enter value of y1:"))
y2=int(input("enter value of y2:"))
d=((x1-x2)** 2 +(y1-y2)** 2)** 0.5
print("Result of euclidean distance:",d)

enter value of x1:2
enter value of x2:3
enter value of y1:4
enter value of y2:5
Result of euclidean distance: 1.4142135623730951

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

> $\Large S.I = P*R*T$ <pre>where S.I = Simple Interest
      P = Principle
      R = Rate of Interest
      T = Time Period

In [22]:
p=int(input("Enter any num:"))
r=int(input("Enter any num:"))
t=int(input("Enter any num:"))
s=p*r*t
print("Simple Interest:",s)

Enter any num:5
Enter any num:5
Enter any num:6
Simple Interest: 150

### Q6:- Write a program that will tell the number of dogs and chicken there are when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [23]:
h=4
l=12
d=2*h-l//2
print("Dogs:",d)
c=h-d
print("Chicken:",c)

Dogs: 2
Chicken: 2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [15]:
n=int(input("Enter any natural num:"))
sum=(n * (n + 1) * (2 * n + 1)) // 6
print("Sum of squares of natural num:",sum)

Enter any natural num:5
Sum of squares of natural num: 55

### Q8:- Given the first 2 terms of an Arithmetic Series. Find the nth term of the series. Assume all inputs are provided by the user.

> $S_n = a + T_2 +  T_3 +  T_4 + \dots$ <br><br>
$S_n =$ Arithmetic Series <br>
$a =$ First Term <br>
$T_2 =$ Second \space Term <br>
$d = $ Common Difference <br>
$n = $ Number of Terms <br><br>
$\boxed{T_n = nth \space Term = a + (n - 1)d}$

In [39]:
t1=int(input("First term:"))
t2=int(input("second term:"))
d=t2-t1
print("Common difference:",d)
n=int(input("Number of term:"))
nth_term=t1+(n-1)*d
print("nth Term:",nth_term)

First term:3
second term:6
Common difference: 3
Number of term:10
nth Term: 30



### Q9:- Given two fractions, find the sum of those two fractions.Take the numerator and denominator values of the fractions from the user.

In [45]:
num1=int(input("Enter first numerator:"))
den1=int(input("Enter first denominator:"))
num2=int(input("Enter second numerator:"))
den2=int(input("Enter second denominator:"))
sum= num1/den1 + num2/den2
print("Sum of two fraction:",sum)

Enter first numerator:3
Enter first denominator:4
Enter second numerator:3
Enter second denominator:4
Sum of two fraction: 1.5

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.

> Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [44]:
h= 20
l= 20
b= 20
volume_tank=h*l*b
print("Volume of tank:",volume_tank)
h_glass=int(input("Height of glass:"))
r_glass=int(input("Radius of glass:"))
volume_glass=3.14 * r_glass ** 2 * h_glass
print("Volume of glass:",volume_glass)
num_of_glass=volume_tank // volume_glass
print("Number of glass:",num_of_glass)

Volume of tank: 8000
Height of glass:3
Radius of glass:2
Volume of glass: 37.68
Number of glass: 212.0